{% extends "base.html" %}

{% block content %}
<h1>ZooKeeper ZNode {{znode.path}}</h1>

<ol class="breadcrumb">
  {% for title, uri in znode.path_parts %}
  <li><a href="{{ uri }}" {% if forloop.last %}class="active"{% endif %}>{{ title }}</a></li>
  {% endfor %}
</ol>

<div>
{% if znode.children %}
<table>
  {% for child in znode.children %}
  <tr class="{% cycle 'oddrow' 'evenrow">
    <td>
      <a href="{{child|urlencode}}">
        <i class="glyphicon glyphicon-folder-open">
          {{child}}
        </i>
      </a>
    </td>
  </tr>
{% endfor %}
</table>
{% else %}
No Children exist for this znode
{% endif %}
</div>

<br/>
<div class="panel panel-default">
  <div class="panel-heading">Data({{znode.datatype}})</div>
  <div class="panel-body">
    <pre class="pre-scrollable">
      {{znode.data}}
    </pre>
  </div>
</div>


<hr/>
<div class="span-24 last">
  <h2>
    Stat Information
    <a href="http://hadoop.apache.org/zookeeper/docs/current/zookeeperProgrammers.html#sc_zkStatStructure" class="doc btn btn-default btn-info btn-sm">
      <i class="glyphicon glyphicon-question-sign"></i>
    </a>
  </h2>

<dl class="dl-horizontal">
  <dt>czxid</dt><dd>0x{{znode.stat.czxid|stringformat:"x"}}</dd>
  <dt>mzxid</dt><dd>0x{{znode.stat.mzxid|stringformat:"x"}}</dd>
  <dt>ctime</dt><dd>{{znode.stat.ctime|date}} {{znode.stat.ctime|time}} ({{znode.stat.ctime|timesince}} ago)</dd>
  <dt>mtime</dt><dd>{{znode.stat.mtime|date}} {{znode.stat.mtime|time}} ({{znode.stat.mtime|timesince}} ago)</dd>
  <dt>version</dt><dd>{{znode.stat.version}}</dd>
  <dt>cversion</dt><dd>{{znode.stat.cversion}}</dd>
  <dt>aversion</dt><dd>{{znode.stat.aversion}}</dd>
{% ifnotequal znode.stat.ephemeralOwner 0 %}
  <dt>ephemeralOwner</dt><dd>0x{{znode.stat.ephemeralOwner|stringformat:"x"}}</dd>
{% endifnotequal %}
  <dt>dataLength</dt><dd>{{znode.stat.dataLength}}</dd>
  <dt>pzxid</dt><dd>0x{{znode.stat.pzxid|stringformat:"x"}}</dd>
</dl>



<p>
</div>
<hr/>
<div class="span-24 last">
  <h2>
    ACL Information
    <a href="http://hadoop.apache.org/zookeeper/docs/current/zookeeperProgrammers.html#sc_ZooKeeperAccessControl" class="doc btn btn-default btn-info btn-sm">
      <i class="glyphicon glyphicon-question-sign"></i>
    </a>
  </h2>

{% if znode.acls %}
ACLs ({{znode.acls|length}})
<table class="table table-condensed table-striped">
  <tr>
    <th>scheme</th>
    <th>id</th>
    <th>perms</th>
  </tr>
  {% for acl in znode.acls %}
  <tr>
    <td>{{acl.scheme}}</td>
    <td>{{acl.id}}</td>
    <td>{{ perm | join:"," }}</td>
  </tr>
{% endfor %}
</table>
{% else %}
No ACLs exist for this znode
{% endif %}

<p>
</div>
{% endblock %}
