{% extends "base.html" %}

{% block content %}
<h1>ZooKeeper Server {{server_data.host}}:{{server_data.port}}</h1>
<hr/>
<div class="span-24 last">
<h2>Summary</h2>

<dl class="dl-horizontal">
  <dt>Host</dt><dd>{{server_data.host}}</dd>
  <dt>Client port</dt><dd>{{server_data.port}}</dd>
  <dt>Mode</dt><dd>{{server_data.mode|capfirst}}</dd>
  <dt>Zxid</dt><dd>{{server_data.zxid}}</dd>
  <dt>Node count</dt><dd>{{server_data.node_count}}</dd>
  <dt>Connection count</dt><dd>{{server_data.sessions|length}}</dd>
  <dt>Received</dt><dd>{{server_data.received}}</dd>
  <dt>Sent</dt><dd>{{server_data.sent}}</dd>
  <dt>Outstanding</dt><dd>{{server_data.outstanding}}</dd>
  <dt>Max Latency</dt><dd>{{server_data.max_latency}}</dd>
  <dt>Avg Latency</dt><dd>{{server_data.avg_latency}}</dd>
  <dt>Min Latency</dt><dd>{{server_data.min_latency}}</dd>
</dl>
</div>
<hr/>
<div class="span-24 last">
<h2>Connections (clients)</h2>

<table class="table table-condensed table-striped">
  <tr><th>host</th><th>port</th><th>interest ops</th><th>queued#</th><th>recved#</th><th>sent#</th></tr>
{% for s in server_data.sessions %}
  <tr class="{% cycle 'oddrow' 'evenrow"><td>{{s.host}}</td><td>{{s.port}}</td><td>{{s.interest_ops}}</td><td>{{s.queued}}</td><td>{{s.recved}}</td><td>{{s.sent}}</td></tr>
{% endfor %}
</table>
</div>
<hr/>
<div class="span-24 last">
<h2>Environment</h2>

<table class="table table-condensed table-striped">
  <tr><th>Attribute</th><th>Value</th></tr>
{% for e in server_data.envi %}
  <tr class="{% cycle 'oddrow' 'evenrow"><td>{{e.0}}</td><td>{{e.1}}</td></tr>
{% endfor %}
</table>
</div>
<hr/>
{% endblock %}
