{% extends "base.html" %}

{% block content %}
<div class="span-24 last">
<h2>Cluster Information</h2>

<table class="table table-condensed table-striped">
  <tr>
    <th>Server</th>
    <th>Mode</th>
    <th>#conn</th>
    <th>Version</th>
  </tr>
  {% for sd in server_data %}
  <tr>
    <td>
        {% ifequal sd.mode "Unreachable" %}
            <div class="btn btn-default disabled">{{ sd.host }}:{{ sd.port }}</div>
        {% else %}
            <a href="cluster/server/{{sd.id}}" class="btn btn-primary">{{ sd.host }}:{{ sd.port }}</a>
        {% endifequal %}
    </td>
    <td> {% ifequal sd.mode "leader" %}<b>{% endifequal %} {{sd.mode|capfirst}} {% ifequal sd.mode "leader" %}</b>{% endifequal %} </td>
    <td> <span class="badge">{{ sd.sessions|length }}</span> </td>
    <td> <span class="label {% if sd.version == 'Unknown' %}label-default{% else %}label-success{%endif%} ">{{ sd.version }}</span></td></tr>
  {% endfor %}
</table>
<p>
</div>

{% endblock %}
